<h1>POST Request Received</h1>

<h2>Data received on the url</h2>
<table>
    <tr>
        <th>Name of Parameter</th>
        <th>Value</th>
    </tr>
    {{#each urlList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        </tr>
    {{/each}}
</table>

<h2>Data received on the body</h2>
<table>
    <tr>
        <th>Name of Parameter</th>
        <th>Value</th>
    </tr>
    {{#each bodyList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        </tr>
    {{/each}}
</table>