<h1>POST Request Received</h1>
<table>
    <tr>
        <th>Name of Parameter</th>
        <th>Value</th>
    </tr>
    {{#each dataList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        </tr>
    {{/each}}
</table>